{% extends "base.html" %}
{% block title %}
Products
{% endblock %}


{% block content %}
<body class=''>
<main id="PAGES_CONTAINER" class="PAGES_CONTAINER" tabindex="-1" data-main-content="true">
    <div id="SITE_PAGES" class="JsJXaX SITE_PAGES">
        <div id="cfvg" class="wuQWjL cfvg">
            <div class="Er4NNm wixui-page">
                <div class="UyFu_5"></div>
            </div>
            <div class="iugd_I">
                <div id="Containercfvg" class="Containercfvg SPY_vo">
                    <div data-mesh-id="ContainercfvginlineContent" data-testid="inline-content" class="">
                        <div data-mesh-id="ContainercfvginlineContent-gridContainer"
                             data-testid="mesh-container-content">
                            <section id="comp-la5txgrg" tabindex="-1" class="Oqnisf comp-la5txgrg wixui-section"
                                     data-block-level-container="ClassicSection">
                                <div id="bgLayers_comp-la5txgrg" data-hook="bgLayers"
                                     data-motion-part="BG_LAYER comp-la5txgrg" class="MW5IWV">
                                    <div data-testid="colorUnderlay" class="LWbAav Kv1aVt"></div>
                                    <div id="bgMedia_comp-la5txgrg" data-motion-part="BG_MEDIA comp-la5txgrg"
                                         class="VgO9Yg"></div>
                                </div>
                                <div data-mesh-id="comp-la5txgrginlineContent" data-testid="inline-content" class="">
                                    <div data-mesh-id="comp-la5txgrginlineContent-gridContainer"
                                         data-testid="mesh-container-content">
                                        <div id="comp-jhmtl26a" class="rich-text-element"
                                             style="text-align: center; font-family: 'Brush Script MT', cursive;">
                                            <h1 class="title">PRODUCTS</h1>
                                        </div>
                                        <div id="WRchTxt1m-1952" class="wixui-rich-text__text">
                                            Golden Hex Foods is a gourmet food store in the Triangle (RTP) region, North
                                            Carolina.
                                            We specialize in European and Mediterranean foods. Our store offers a wide
                                            selection of imported goods,
                                            quality meats and seafood, cheeses, dairy products, sweets, and other
                                            groceries.
                                        </div>

                                        <div id="WPht0-24o" class="MazNVa WPht0-24o wixui-image">
                                            <div data-testid="linkElement" class="j7pOnl">
                                                <img src="{{ url_for('static', filename='/products_images/sweets.avif') }}" alt="sweets" width="225" height="200" />
                                            </div>
                                        </div>
                                        <div id="hxlfoknt"
                                             class="HcOXKn SxM0TO QxJLC3 lq2cno YQcXTT hxlfoknt wixui-rich-text"
                                             data-testid="richTextElement"><h6 class="font_6 wixui-rich-text__text" style="font-size:22px;"><span
                                                class="color_45 wixui-rich-text__text">Sweets</span></h6></div>
                                        <div id="FvGrdLn15-ifc"
                                             class="FvGrdLn15-ifc aVng1S wixui-horizontal-line"></div>
                                        <div id="hxlfq5hr"
                                             class="HcOXKn SxM0TO QxJLC3 lq2cno YQcXTT hxlfq5hr wixui-rich-text"
                                             data-testid="richTextElement"><p class="font_8 wixui-rich-text__text" style="font-size:15px;"><span
                                                class="color_36 wixui-rich-text__text"><span style="font-weight:bold;"
                                                                                             class="wixui-rich-text__text">Golden Hex Foods offers a variety of sweets and desserts to satisfy anyone's sweet tooth. Find a wide assortment of sweets from Russia, Ukraine, Belarus, Armenia, Israel and many other countries.&nbsp; Candies, cookies, cakes, honey, preserves &amp; other types of delicious desserts are available.</span></span>
                                        </p></div>
                                        <div id="WPht1-taw" class="MazNVa WPht1-taw wixui-image rYiAuL"><a
                                                data-testid="linkElement" href="https://www.goldenhex.com/dali"
                                                target="_self" class="j7pOnl">
                                            <wow-image id="img_WPht1-taw" class="HlRz5e BI8PVQ"
                                                       data-image-info="{&quot;containerId&quot;:&quot;WPht1-taw&quot;,&quot;displayMode&quot;:&quot;fill&quot;,&quot;targetWidth&quot;:210,&quot;targetHeight&quot;:250,&quot;isLQIP&quot;:false,&quot;encoding&quot;:&quot;AVIF&quot;,&quot;imageData&quot;:{&quot;width&quot;:210,&quot;height&quot;:250,&quot;uri&quot;:&quot;a9db90_4cbf4f14ca3748c99d2272172564ab1c~mv2_d_3840_2400_s_4_2.jpg&quot;,&quot;name&quot;:&quot;&quot;,&quot;displayMode&quot;:&quot;fill&quot;}}"
                                                       data-motion-part="BG_IMG WPht1-taw" data-bg-effect-name=""
                                                       data-has-ssr-src=""><img
                                                    src="https://static.wixstatic.com/media/a9db90_4cbf4f14ca3748c99d2272172564ab1c~mv2_d_3840_2400_s_4_2.jpg/v1/fill/w_210,h_250,al_c,q_80,enc_avif,quality_auto/a9db90_4cbf4f14ca3748c99d2272172564ab1c~mv2_d_3840_2400_s_4_2.jpg"
                                                    alt="" width="210" height="250"
                                                    srcset="https://static.wixstatic.com/media/a9db90_4cbf4f14ca3748c99d2272172564ab1c~mv2_d_3840_2400_s_4_2.jpg/v1/fill/w_210,h_250,al_c,q_80,enc_avif,quality_auto/a9db90_4cbf4f14ca3748c99d2272172564ab1c~mv2_d_3840_2400_s_4_2.jpg 1x, https://static.wixstatic.com/media/a9db90_4cbf4f14ca3748c99d2272172564ab1c~mv2_d_3840_2400_s_4_2.jpg/v1/fill/w_294,h_350,al_c,lg_1,q_80,enc_avif,quality_auto/a9db90_4cbf4f14ca3748c99d2272172564ab1c~mv2_d_3840_2400_s_4_2.jpg 2x"
                                                    fetchpriority="high"
                                                    style="width: 210px; height: 250px; object-fit: cover;"></wow-image>
                                        </a></div>
                                        <div id="hxlftf22_0"
                                             class="HcOXKn SxM0TO QxJLC3 lq2cno YQcXTT hxlftf22_0 wixui-rich-text"
                                             data-testid="richTextElement"><h6 class="font_6 wixui-rich-text__text"
                                                                               style="font-size:22px;"><span
                                                style="color:#000000;" class="wixui-rich-text__text">Meats, Cheeses &amp; Fish. &nbsp;</span>
                                        </h6></div>
                                        <div id="WPht2-1bit" class="MazNVa WPht2-1bit wixui-image">
                                            <div data-testid="linkElement" class="j7pOnl">
                                                <wow-image id="img_WPht2-1bit" class="HlRz5e BI8PVQ"
                                                           data-image-info="{&quot;containerId&quot;:&quot;WPht2-1bit&quot;,&quot;displayMode&quot;:&quot;fill&quot;,&quot;targetWidth&quot;:210,&quot;targetHeight&quot;:250,&quot;isLQIP&quot;:false,&quot;encoding&quot;:&quot;AVIF&quot;,&quot;imageData&quot;:{&quot;width&quot;:210,&quot;height&quot;:250,&quot;uri&quot;:&quot;a9db90_65035082c7fc4cccbc90578b820ff61b~mv2_d_7486_5200_s_4_2.jpeg&quot;,&quot;name&quot;:&quot;&quot;,&quot;displayMode&quot;:&quot;fill&quot;}}"
                                                           data-motion-part="BG_IMG WPht2-1bit" data-bg-effect-name=""
                                                           data-has-ssr-src=""><img
                                                        src="https://static.wixstatic.com/media/a9db90_65035082c7fc4cccbc90578b820ff61b~mv2_d_7486_5200_s_4_2.jpeg/v1/fill/w_210,h_250,al_c,q_80,enc_avif,quality_auto/a9db90_65035082c7fc4cccbc90578b820ff61b~mv2_d_7486_5200_s_4_2.jpeg"
                                                        alt="" width="210" height="250"
                                                        srcset="https://static.wixstatic.com/media/a9db90_65035082c7fc4cccbc90578b820ff61b~mv2_d_7486_5200_s_4_2.jpeg/v1/fill/w_210,h_250,al_c,q_80,enc_avif,quality_auto/a9db90_65035082c7fc4cccbc90578b820ff61b~mv2_d_7486_5200_s_4_2.jpeg 1x, https://static.wixstatic.com/media/a9db90_65035082c7fc4cccbc90578b820ff61b~mv2_d_7486_5200_s_4_2.jpeg/v1/fill/w_294,h_350,al_c,lg_1,q_80,enc_avif,quality_auto/a9db90_65035082c7fc4cccbc90578b820ff61b~mv2_d_7486_5200_s_4_2.jpeg 2x"
                                                        fetchpriority="high"
                                                        style="width: 210px; height: 250px; object-fit: cover;">
                                                </wow-image>
                                            </div>
                                        </div>
                                        <div id="hxlfu6lc"
                                             class="HcOXKn SxM0TO QxJLC3 lq2cno YQcXTT hxlfu6lc wixui-rich-text"
                                             data-testid="richTextElement"><h6 class="font_6 wixui-rich-text__text"
                                                                               style="font-size:22px;"><span
                                                class="color_45 wixui-rich-text__text">Marinated Food &amp; Condiments.&nbsp;&nbsp;</span>
                                        </h6></div>
                                        <div id="hxlftf23" class="hxlftf23 aVng1S wixui-horizontal-line"></div>
                                        <div id="hxlftf22"
                                             class="HcOXKn SxM0TO QxJLC3 lq2cno YQcXTT hxlftf22 wixui-rich-text"
                                             data-testid="richTextElement"><p class="font_8 wixui-rich-text__text"
                                                                              style="font-size:15px;"><span
                                                style="color:#FFFFFF;" class="wixui-rich-text__text"><span
                                                style="font-weight:bold;" class="wixui-rich-text__text">Buy as little as you wish, or as much as you want. Our owners will help you to choose the best-cured cold meats&nbsp;and cheeses and slice it per your request. Or choose them conveniently vacuum sealed. We also sell an extensive variety of a&nbsp; smoked,&nbsp;marinated and dry fish. And (of course!) red and black caviar!&nbsp;</span></span>
                                        </p></div>
                                        <div id="hxlfu6lc_0" class="hxlfu6lc_0 aVng1S wixui-horizontal-line"></div>
                                        <div id="hxlfu6lb"
                                             class="HcOXKn SxM0TO QxJLC3 lq2cno YQcXTT hxlfu6lb wixui-rich-text"
                                             data-testid="richTextElement"><p class="font_8 wixui-rich-text__text"
                                                                              style="font-size:15px;"><span
                                                style="font-weight:bold;" class="wixui-rich-text__text"><span
                                                class="color_36 wixui-rich-text__text">Marinated and pickled vegetables. Canned fish and meats.&nbsp;Oils. Sauces. Dips. Imported from different parts of the world.&nbsp;</span></span>
                                        </p>

                                            <p class="font_8 wixui-rich-text__text" style="font-size:15px;">&nbsp;</p>

                                            <p class="font_8 wixui-rich-text__text" style="font-size:15px;">&nbsp;</p>

                                            <p class="font_8 wixui-rich-text__text" style="font-size:15px;">&nbsp;</p>

                                            <p class="font_8 wixui-rich-text__text" style="font-size:15px;">&nbsp;</p>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <section id="comp-la5txgrh" tabindex="-1" class="Oqnisf comp-la5txgrh wixui-section"
                                     data-block-level-container="ClassicSection">
                                <div id="bgLayers_comp-la5txgrh" data-hook="bgLayers"
                                     data-motion-part="BG_LAYER comp-la5txgrh" class="MW5IWV">
                                    <div data-testid="colorUnderlay" class="LWbAav Kv1aVt"></div>
                                    <div id="bgMedia_comp-la5txgrh" data-motion-part="BG_MEDIA comp-la5txgrh"
                                         class="VgO9Yg"></div>
                                </div>
                                <div data-mesh-id="comp-la5txgrhinlineContent" data-testid="inline-content" class="">
                                    <div data-mesh-id="comp-la5txgrhinlineContent-gridContainer"
                                         data-testid="mesh-container-content">
                                        <div id="comp-jduvc9gy" class="MazNVa comp-jduvc9gy wixui-image">
                                            <div data-testid="linkElement" class="j7pOnl">
                                                <wow-image id="img_comp-jduvc9gy" class="HlRz5e BI8PVQ"
                                                           data-image-info="{&quot;containerId&quot;:&quot;comp-jduvc9gy&quot;,&quot;displayMode&quot;:&quot;fill&quot;,&quot;targetWidth&quot;:210,&quot;targetHeight&quot;:250,&quot;isLQIP&quot;:true,&quot;encoding&quot;:&quot;AVIF&quot;,&quot;imageData&quot;:{&quot;width&quot;:210,&quot;height&quot;:250,&quot;uri&quot;:&quot;a9db90_1f5f51c46aee497ab6e2626604e30805~mv2_d_5803_3874_s_4_2.jpg&quot;,&quot;name&quot;:&quot;&quot;,&quot;displayMode&quot;:&quot;fill&quot;}}"
                                                           data-motion-part="BG_IMG comp-jduvc9gy"
                                                           data-bg-effect-name="" data-has-ssr-src=""><img
                                                        src="https://static.wixstatic.com/media/a9db90_1f5f51c46aee497ab6e2626604e30805~mv2_d_5803_3874_s_4_2.jpg/v1/fill/w_294,h_350,al_c,lg_1,q_80,enc_avif,quality_auto/a9db90_1f5f51c46aee497ab6e2626604e30805~mv2_d_5803_3874_s_4_2.jpg"
                                                        alt="" width="210" height="250" loading="lazy"
                                                        style="width: 210px; height: 250px; object-fit: cover; object-position: 50% 50%;"
                                                        fetchpriority="high"></wow-image>
                                            </div>
                                        </div>
                                        <div id="comp-jduvc9h1"
                                             class="HcOXKn SxM0TO QxJLC3 lq2cno YQcXTT comp-jduvc9h1 wixui-rich-text"
                                             data-testid="richTextElement"><p class="font_8 wixui-rich-text__text"
                                                                              style="font-size:15px;"><span
                                                style="font-weight:bold;" class="wixui-rich-text__text"><span
                                                style="color:#FFFFFF;" class="wixui-rich-text__text">Exciting drinks from </span><span
                                                style="color:#FFFFFF;"
                                                class="wixui-rich-text__text">homeland</span><span
                                                style="color:#FFFFFF;" class="wixui-rich-text__text">. Come and enjoy familiar taste of tarhun&nbsp;(terragon flavored drink), </span><span
                                                style="color:#FFFFFF;" class="wixui-rich-text__text">lemonade, kvas,&nbsp;</span><span
                                                style="color:#FFFFFF;"
                                                class="wixui-rich-text__text">mors, borjomi, etc</span></span></p></div>
                                        <div id="comp-jduw71z6"
                                             class="HcOXKn SxM0TO QxJLC3 lq2cno YQcXTT comp-jduw71z6 wixui-rich-text"
                                             data-testid="richTextElement"><h6 class="font_6 wixui-rich-text__text"
                                                                               style="font-size:22px;"><span
                                                class="color_45 wixui-rich-text__text">Drinks, Juices, Syrops.</span>
                                        </h6>

                                            <h6 class="font_6 wixui-rich-text__text" style="font-size:22px;"><span
                                                    class="color_45 wixui-rich-text__text">&nbsp;</span></h6></div>
                                        <div id="comp-jduvfk9f" class="MazNVa comp-jduvfk9f wixui-image">
                                            <div data-testid="linkElement" class="j7pOnl">
                                                <wow-image id="img_comp-jduvfk9f" class="HlRz5e BI8PVQ"
                                                           data-image-info="{&quot;containerId&quot;:&quot;comp-jduvfk9f&quot;,&quot;displayMode&quot;:&quot;fill&quot;,&quot;targetWidth&quot;:210,&quot;targetHeight&quot;:250,&quot;isLQIP&quot;:true,&quot;encoding&quot;:&quot;AVIF&quot;,&quot;imageData&quot;:{&quot;width&quot;:210,&quot;height&quot;:250,&quot;uri&quot;:&quot;a9db90_ffbdccf6487b459c8402f98af8096af8~mv2_d_7500_5000_s_4_2.jpg&quot;,&quot;name&quot;:&quot;&quot;,&quot;displayMode&quot;:&quot;fill&quot;}}"
                                                           data-motion-part="BG_IMG comp-jduvfk9f"
                                                           data-bg-effect-name="" data-has-ssr-src=""><img
                                                        src="https://static.wixstatic.com/media/a9db90_ffbdccf6487b459c8402f98af8096af8~mv2_d_7500_5000_s_4_2.jpg/v1/fill/w_294,h_350,al_c,lg_1,q_80,enc_avif,quality_auto/a9db90_ffbdccf6487b459c8402f98af8096af8~mv2_d_7500_5000_s_4_2.jpg"
                                                        alt="" width="210" height="250" loading="lazy"
                                                        style="width: 210px; height: 250px; object-fit: cover; object-position: 50% 50%;"
                                                        fetchpriority="high"></wow-image>
                                            </div>
                                        </div>
                                        <div id="comp-jduwb0vg"
                                             class="HcOXKn SxM0TO QxJLC3 lq2cno YQcXTT comp-jduwb0vg wixui-rich-text"
                                             data-testid="richTextElement"><h6 class="font_6 wixui-rich-text__text"
                                                                               style="font-size:22px;"><span
                                                class="color_45 wixui-rich-text__text">Grains. Seeds. Spices.&nbsp;</span>
                                        </h6></div>
                                        <div id="comp-jduvfk9g"
                                             class="HcOXKn SxM0TO QxJLC3 lq2cno YQcXTT comp-jduvfk9g wixui-rich-text"
                                             data-testid="richTextElement"><p class="font_8 wixui-rich-text__text"
                                                                              style="font-size:15px;"><span
                                                style="font-weight:bold;" class="wixui-rich-text__text"><span
                                                class="color_36 wixui-rich-text__text">Miss that shaurma spice for your&nbsp;Mediterranean&nbsp;cooking? Or Hmeli Suneli for your&nbsp;Georgian dish? Find your favorite buckwheat brand, the perfect size of bulgur, kids favorite cream of wheat, or the best snack for social conversations - sunflower seeds, raw or roasted.</span></span>
                                        </p></div>
                                        <div id="comp-jduvcg5m" class="MazNVa comp-jduvcg5m wixui-image">
                                            <div data-testid="linkElement" class="j7pOnl">
                                                <wow-image id="img_comp-jduvcg5m" class="HlRz5e BI8PVQ"
                                                           data-image-info="{&quot;containerId&quot;:&quot;comp-jduvcg5m&quot;,&quot;displayMode&quot;:&quot;fill&quot;,&quot;targetWidth&quot;:210,&quot;targetHeight&quot;:250,&quot;isLQIP&quot;:true,&quot;encoding&quot;:&quot;AVIF&quot;,&quot;imageData&quot;:{&quot;width&quot;:210,&quot;height&quot;:250,&quot;uri&quot;:&quot;a9db90_104a4ec5449545c0880e736af1769a57~mv2_d_2560_1600_s_2.jpg&quot;,&quot;name&quot;:&quot;&quot;,&quot;displayMode&quot;:&quot;fill&quot;}}"
                                                           data-motion-part="BG_IMG comp-jduvcg5m"
                                                           data-bg-effect-name="" data-has-ssr-src=""><img
                                                        src="https://static.wixstatic.com/media/a9db90_104a4ec5449545c0880e736af1769a57~mv2_d_2560_1600_s_2.jpg/v1/fill/w_294,h_350,al_c,lg_1,q_80,enc_avif,quality_auto/a9db90_104a4ec5449545c0880e736af1769a57~mv2_d_2560_1600_s_2.jpg"
                                                        alt="" width="210" height="250" loading="lazy"
                                                        style="width: 210px; height: 250px; object-fit: cover; object-position: 50% 50%;"
                                                        fetchpriority="high"></wow-image>
                                            </div>
                                        </div>
                                        <div id="comp-jduw7bc4"
                                             class="HcOXKn SxM0TO QxJLC3 lq2cno YQcXTT comp-jduw7bc4 wixui-rich-text"
                                             data-testid="richTextElement"><h6 class="font_6 wixui-rich-text__text"
                                                                               style="font-size:22px;"><span
                                                class="color_45 wixui-rich-text__text">Tea, Coffee, Chicory</span></h6>
                                        </div>
                                        <div id="comp-jduvcnkx" class="MazNVa comp-jduvcnkx wixui-image">
                                            <div data-testid="linkElement" class="j7pOnl">
                                                <wow-image id="img_comp-jduvcnkx" class="HlRz5e BI8PVQ"
                                                           data-image-info="{&quot;containerId&quot;:&quot;comp-jduvcnkx&quot;,&quot;displayMode&quot;:&quot;fill&quot;,&quot;targetWidth&quot;:210,&quot;targetHeight&quot;:250,&quot;isLQIP&quot;:true,&quot;encoding&quot;:&quot;AVIF&quot;,&quot;imageData&quot;:{&quot;width&quot;:210,&quot;height&quot;:250,&quot;uri&quot;:&quot;a9db90_028dc1fcae0e4ee1bb6ecc6626c0fd3f~mv2_d_6457_4879_s_4_2.jpg&quot;,&quot;name&quot;:&quot;&quot;,&quot;displayMode&quot;:&quot;fill&quot;}}"
                                                           data-motion-part="BG_IMG comp-jduvcnkx"
                                                           data-bg-effect-name="" data-has-ssr-src=""><img
                                                        src="https://static.wixstatic.com/media/a9db90_028dc1fcae0e4ee1bb6ecc6626c0fd3f~mv2_d_6457_4879_s_4_2.jpg/v1/fill/w_294,h_350,al_c,lg_1,q_80,enc_avif,quality_auto/a9db90_028dc1fcae0e4ee1bb6ecc6626c0fd3f~mv2_d_6457_4879_s_4_2.jpg"
                                                        alt="" width="210" height="250" loading="lazy"
                                                        style="width: 210px; height: 250px; object-fit: cover; object-position: 50% 50%;"
                                                        fetchpriority="high"></wow-image>
                                            </div>
                                        </div>
                                        <div id="comp-jduw92qk"
                                             class="HcOXKn SxM0TO QxJLC3 lq2cno YQcXTT comp-jduw92qk wixui-rich-text"
                                             data-testid="richTextElement"><h6 class="font_6 wixui-rich-text__text"
                                                                               style="font-size:22px;"><span
                                                class="color_45 wixui-rich-text__text">Kosher Food&nbsp;</span></h6>
                                        </div>
                                        <div id="comp-jduvcg5n"
                                             class="HcOXKn SxM0TO QxJLC3 lq2cno YQcXTT comp-jduvcg5n wixui-rich-text"
                                             data-testid="richTextElement"><p class="font_8 wixui-rich-text__text"
                                                                              style="font-size:15px;"><span
                                                style="font-weight:bold;" class="wixui-rich-text__text"><span
                                                style="color:#FFFFFF;" class="wixui-rich-text__text">Check out the selection of teas and coffee from around the world. Health enthusiasts will find a variety of herbal teas &amp; chicory coffee.</span></span>
                                        </p></div>
                                        <div id="comp-jduvfxkq" class="MazNVa comp-jduvfxkq wixui-image">
                                            <div data-testid="linkElement" class="j7pOnl">
                                                <wow-image id="img_comp-jduvfxkq" class="HlRz5e BI8PVQ"
                                                           data-image-info="{&quot;containerId&quot;:&quot;comp-jduvfxkq&quot;,&quot;displayMode&quot;:&quot;fill&quot;,&quot;targetWidth&quot;:210,&quot;targetHeight&quot;:250,&quot;isLQIP&quot;:true,&quot;encoding&quot;:&quot;AVIF&quot;,&quot;imageData&quot;:{&quot;width&quot;:210,&quot;height&quot;:250,&quot;uri&quot;:&quot;a9db90_a4282da091e1464ab24074143bff2664~mv2_d_2899_1920_s_2.jpg&quot;,&quot;name&quot;:&quot;&quot;,&quot;displayMode&quot;:&quot;fill&quot;}}"
                                                           data-motion-part="BG_IMG comp-jduvfxkq"
                                                           data-bg-effect-name="" data-has-ssr-src=""><img
                                                        src="https://static.wixstatic.com/media/a9db90_a4282da091e1464ab24074143bff2664~mv2_d_2899_1920_s_2.jpg/v1/fill/w_294,h_350,al_c,lg_1,q_80,enc_avif,quality_auto/a9db90_a4282da091e1464ab24074143bff2664~mv2_d_2899_1920_s_2.jpg"
                                                        alt="" width="210" height="250" loading="lazy"
                                                        style="width: 210px; height: 250px; object-fit: cover; object-position: 50% 50%;"
                                                        fetchpriority="high"></wow-image>
                                            </div>
                                        </div>
                                        <div id="comp-jduwe5n7"
                                             class="HcOXKn SxM0TO QxJLC3 lq2cno YQcXTT comp-jduwe5n7 wixui-rich-text"
                                             data-testid="richTextElement"><h6 class="font_6 wixui-rich-text__text"
                                                                               style="font-size:22px;"><span
                                                class="color_45 wixui-rich-text__text">Dairy and Frozen Food</span></h6>
                                        </div>
                                        <div id="comp-jduvfxks"
                                             class="HcOXKn SxM0TO QxJLC3 lq2cno YQcXTT comp-jduvfxks wixui-rich-text"
                                             data-testid="richTextElement"><p class="font_8 wixui-rich-text__text"
                                                                              style="font-size:15px;"><span
                                                style="color:#FFFFFF;" class="wixui-rich-text__text"><span
                                                style="font-weight:bold;" class="wixui-rich-text__text">In the dairy section, we offer a wide selection of familiar Slavic&nbsp;farm and curd cheeses (such as&nbsp;tvorog, small syrki) and dairy probiotic product such as kefir,&nbsp; </span><span
                                                style="font-weight:bold;" class="wixui-rich-text__text">ryazhenka</span><span
                                                style="font-weight:bold;" class="wixui-rich-text__text">,&nbsp;etc. In the freezer look for the prepared and ready to be cooked frozen foods, such </span>as pelmeni<span
                                                style="font-weight:bold;" class="wixui-rich-text__text">, pierogi, blinchiki,&nbsp;vareniki, etc. We will be selling ice creams soon.&nbsp;</span></span>
                                        </p></div>
                                        <div id="comp-jduvcnkz"
                                             class="HcOXKn SxM0TO QxJLC3 lq2cno YQcXTT comp-jduvcnkz wixui-rich-text"
                                             data-testid="richTextElement"><p class="font_8 wixui-rich-text__text"
                                                                              style="font-size:15px;"><span
                                                style="font-weight:bold;" class="wixui-rich-text__text"><span
                                                style="color:#FFFFFF;" class="wixui-rich-text__text">We are proud to bring a new selection of Kosher food to the region. Some of your favorite products are&nbsp;</span><span
                                                style="color:#FFFFFF;" class="wixui-rich-text__text">imported from Israel.&nbsp;</span></span>
                                        </p></div>
                                        <div id="comp-jduvga18" class="MazNVa comp-jduvga18 wixui-image">
                                            <div data-testid="linkElement" class="j7pOnl">
                                                <wow-image id="img_comp-jduvga18" class="HlRz5e BI8PVQ"
                                                           data-image-info="{&quot;containerId&quot;:&quot;comp-jduvga18&quot;,&quot;displayMode&quot;:&quot;fill&quot;,&quot;targetWidth&quot;:210,&quot;targetHeight&quot;:250,&quot;isLQIP&quot;:true,&quot;encoding&quot;:&quot;AVIF&quot;,&quot;imageData&quot;:{&quot;width&quot;:210,&quot;height&quot;:250,&quot;uri&quot;:&quot;a9db90_ab7f7723fdbd4fa6b72fb6061447dcd9~mv2_d_4500_3000_s_4_2.jpg&quot;,&quot;name&quot;:&quot;&quot;,&quot;displayMode&quot;:&quot;fill&quot;}}"
                                                           data-motion-part="BG_IMG comp-jduvga18"
                                                           data-bg-effect-name="" data-has-ssr-src=""><img
                                                        src="https://static.wixstatic.com/media/a9db90_ab7f7723fdbd4fa6b72fb6061447dcd9~mv2_d_4500_3000_s_4_2.jpg/v1/fill/w_294,h_350,al_c,lg_1,q_80,enc_avif,quality_auto/a9db90_ab7f7723fdbd4fa6b72fb6061447dcd9~mv2_d_4500_3000_s_4_2.jpg"
                                                        alt="" width="210" height="250" loading="lazy"
                                                        style="width: 210px; height: 250px; object-fit: cover; object-position: 50% 50%;"
                                                        fetchpriority="high"></wow-image>
                                            </div>
                                        </div>
                                        <div id="comp-jduwebq8"
                                             class="HcOXKn SxM0TO QxJLC3 lq2cno YQcXTT comp-jduwebq8 wixui-rich-text"
                                             data-testid="richTextElement"><h6 class="font_6 wixui-rich-text__text"
                                                                               style="font-size:22px;"><span
                                                class="color_45 wixui-rich-text__text">Souvenirs and Natural Remedies</span>
                                        </h6></div>
                                        <div id="comp-jduvga19"
                                             class="HcOXKn SxM0TO QxJLC3 lq2cno YQcXTT comp-jduvga19 wixui-rich-text"
                                             data-testid="richTextElement"><p class="font_8 wixui-rich-text__text"
                                                                              style="font-size:15px;"><span
                                                style="font-weight:bold;" class="wixui-rich-text__text"><span
                                                style="color:#FFFFFF;" class="wixui-rich-text__text">We are working on bringing souvenirs and natural healing products (such as dry herbs, plants, berries, tinctures, etc) to our store soon. Please stay tuned and check us out often!&nbsp;&nbsp;</span></span>
                                        </p></div>
                                    </div>
                                </div>
                            </section>
                            <section id="comp-la5txgrh1" tabindex="-1" class="Oqnisf comp-la5txgrh1 wixui-section"
                                     data-block-level-container="ClassicSection">
                                <div id="bgLayers_comp-la5txgrh1" data-hook="bgLayers"
                                     data-motion-part="BG_LAYER comp-la5txgrh1" class="MW5IWV">
                                    <div data-testid="colorUnderlay" class="LWbAav Kv1aVt"></div>
                                    <div id="bgMedia_comp-la5txgrh1" data-motion-part="BG_MEDIA comp-la5txgrh1"
                                         class="VgO9Yg"></div>
                                </div>
                                <div data-mesh-id="comp-la5txgrh1inlineContent" data-testid="inline-content" class="">
                                    <div data-mesh-id="comp-la5txgrh1inlineContent-gridContainer"
                                         data-testid="mesh-container-content">
                                        <div id="comp-jdxh24z1"
                                             class="HcOXKn SxM0TO QxJLC3 lq2cno YQcXTT comp-jdxh24z1 wixui-rich-text"
                                             data-testid="richTextElement"><p class="font_7 wixui-rich-text__text"
                                                                              style="font-size:17px;"><span
                                                class="color_14 wixui-rich-text__text">Located in the Triangle aka RTP region (Raleigh, Chapel Hill, Cary, Apex, Durham, Wake Forest, Hillsborough, Greensboro, Holly Springs, Clayton, Morrisville), Golden Hex Foods sells groceries from East European and Mediterranean countries. Our customers&nbsp;from ex USSR will find an imported selection of familiar foods from East-Central Europe (Belarus Belorussia&nbsp;Moldova, Ukraine, Russia). Baltic states (Estonia, Latvia, Lithuania), Southern Caucasus (Armenia, Azerbaijan, Georgia) and&nbsp;Central Asia (Kazakhstan, Kyrgyzstan, Tajikistan, Turkmenistan, Uzbekistan). If you can't find favorite brand - please ask away so we can check if the item is available in the United States and order it for you. Use "connect" page - or GoldenHex Community forum to stay in touch.&nbsp;&nbsp;</span>
                                        </p></div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
{% endblock %}

